<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuizReviewer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style_solvetop.css') }}">
</head>
<body>
    <div id="wrap">
        <nav>
            <p class="nav_chr">QuizReviewer</p>
        </nav>
        <div class="subtitle_position">
            <a class="subtitle">クイズを解く</a>
        </div>
        <table border="1" cellspacing="0">
            {% for quizset in quizsetname %}
                <tr>
                    <th>
                        <td class="quizset" width="575">{{ quizset }}</td>
                    </th>
                    <th>
                        <td><a class="challange_button" href="/{{quizset}}/solving?quiznumber=0" role="button">　このクイズに挑戦する　</a></td>
                    </th>
                </tr>
            {% endfor %}
        </table>
        <form action="/" method="GET"> <!-- 受け付ける先をpyの方で作る -->
            <input type="submit" class="back_button" value="　戻る　">
        </form>
    </div>
</body>
</html>